<h1>Yumegulist</h1>

<p>こんにちは <%= @user.name %>さん,</p>

<p>
yumegulistへようこそ! 下記よりアカウントの有効化を行ってください：
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>