<h1>パスワードリセット</h1>

<p>パスワードをリセットするには、下記よりお進みください：</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>こちらのリンクは２時間後に有効期限切れとなります。</p>

<p>
このメールを無視すると、現在のパスワードをそのままお使いいただけます。
</p>