<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>
<div class="col-md-6 col-md-offset-3">
<%= image_tag "#{@user.picture.url if @user.picture?}" , class: "user__imgframe", alt: 'user_icon'  %><br>
<%= render 'users/form' %>

</div>