<% provide(:title, "All posts") %>
  <h2>すべての投稿</h2>
  <p>検索（施設名もしくは区名）</p>
  <%= form_tag posts_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :name => nil, class: "btn btn-info btn-xl" %>
  <% end %>
  <%= render 'posts/post_content' %>