<% provide(:title, "About") %>

<h2>#yumegulistとは</h2>
  <p>東京都内に数ある銭湯や温泉施設の情報共有サイトです。</p>
    <div class="about">
      <p>①自分のお気に入りを投稿してみよう<br>位置情報も追加してみよう<p>
      <div class="new_post"></div>
    </div>
    <div class="about">
      <p>②みんなの投稿からお気に入りを探そう<br>気に入ったら「♡」を押してね</p>
      <div class="about_like"></div>
    </div>
    <div class="about">
      <p>③お気に入りリストに追加されるよ<br>地図をたよりに行ってみよう</p>
      <div class="about_liked_post"></div>
    </div>
    
      <div class="center">
        <%= link_to "新規会員登録して始める", signup_path, class: "btn btn-info" %>
      </div>