<div class="top">
<div class="masthead">
<div class="container">
<div class="center">
<h1>#yumegulist</h1>
</div>
<div class="center">
<%= link_to "#yumegulistとは", signup_path, class: "btn btn-info" %>
<%= link_to "新規会員登録", signup_path, class: "btn btn-info" %>
</div>
<div class="right">
<P>東京に数ある銭湯や温泉、たくさん巡ってみよう。</P>
<P>お気に入りが見つかったら、メモして共有しよう。</P>
<P>みんなのお気に入りの場所をみて、また巡ろう。</P>
</div>
</div>
</div>
</div>