/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .container {
   margin: 20px auto;
 }
 
 body {
   font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
   font-size: 14px;
 }
 
 .top {
  background-image: image-url("ofuro.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
 }
 
 .masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  height: 700px;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}

.center {
  margin: 40px;
}

.center ul li {
  display:inline;
}

.right {
  float: right;
  margin: 40px;
  font-size: 16px;
}
 
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

ul > li {
  margin-bottom: 5px;
  list-style: none;
}

/* カード*/

.card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 8px;
  cursor: pointer;
  float: left;
}

.card__imgframe{
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}

.like{
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ページネーション*/

.pagination>li>a {          
  border: none;     
  color: #696969;
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}

.pagination_float {
  clear:left;
}

/* マップサイズ*/

#target {
  width: 400px;
  height: 200px;
}

/* 投稿詳細 */

.box {
  width: 400px;
  position: relative;
  margin: 20px;
  padding: 20px;
  background: #e6f4ff;
  border-radius: 10px;/*角の丸み*/
}

.box:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.box p {
  margin: 0; 
  padding: 0;
}

.post_detail_left {
  float:left;
}

.post_detail_right {
  float: left;
  margin: 30px;
}

.name_frame {
  position: relative;
  margin: 20px;
  padding: 20px 20px 20px 35px;
  width: 400px; 
  background-color: #fff; 
  border: 1px solid #e6f4ff; /* 枠線 */
  box-shadow: 2px 2px 2px #ccc; /* 影の色 */
}
.name_frame::before {
  position: absolute;
  content: '';
  top: 5px;
  left: 20px;
  height: 30px;
  border: 1.5px solid #e6f4ff; /* ホチキス色 */
  border-radius: 12px;
  box-shadow: 1px 1px 1px #333;
  transform: rotate(45deg);
} 
 
/* アイコン写真 */
 
.user__imgframe {
  border-radius: 50%;
  width:100px;
  height:100px;
  object-fit: cover;
}

/* 紹介ページ */

.about{
  float:left;
  margin:10px;
}

 .new_post {
  background-image: image-url("new_post.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }
 
.about_like {
  background-image: image-url("like.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }
 
.about_liked_post {
  background-image: image-url("liked_list.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }