/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .container {
   margin: 30px auto;
 }
 
 body {
   font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
   font-size: 14px;
 }
 
 .top {
  background-image: image-url("ofuro.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
 }
 
 .masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  height: 700px;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}

.center {
  margin: 40px;
}

.center ul li {
  display:inline;
}

.right {
  float: right;
  margin: 40px;
  font-size: 16px;
}
 
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

ul > li {
  margin-bottom: 5px;
  list-style: none;
}

/* カード*/

.card{
  position: relative;
  width: 280px;
  height: 450px;
  margin: 8px;
  cursor: pointer;
  float: left;
}

.card__imgframe{
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.user_icon {
  border-radius: 50%;
  border: 4px solid;
  border-color:white;
  background-color: white;
  width:70px;
  height:70px;
  object-fit: cover;
  position: absolute;
  top: 34%;
  left: 37%;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  background-image: linear-gradient(-45deg, rgba(200,230,245,0.4) 25%, transparent 25%, transparent 50%, rgba(200,230,245,.4) 50%, rgba(200,230,245,.4) 75%, transparent 75%, transparent 100%);
  background-size: 20px 20px;
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 10px;
  font-size: 20px;
  transform: rotate(0deg);
}

.place {
  border-radius:10%;
  background-color: #66cdaa;
  padding: 5px;
  width:80px;
  text-align: center;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}

.like{
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ページネーション*/

.pagination>li>a {          
  border: none;     
  color: #696969;
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}

.pagination_float {
  clear:left;
}

/* マップサイズ*/

#target {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

/* 投稿詳細 */

.box {
  width: 400px;
  position: relative;
  margin: 20px;
  padding: 20px;
  background: #e6f4ff;
  border-radius: 10px;
}

.box:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.box p {
  margin: 0; 
  padding: 0;
}

.post_detail_left {
  float:left;
}

.post_detail_right {
  float: left;
  margin: 30px;
}

.name_frame {
  background-image: linear-gradient(-45deg, rgba(200,230,245,0.4) 25%, transparent 25%, transparent 50%, rgba(200,230,245,.4) 50%, rgba(200,230,245,.4) 75%, transparent 75%, transparent 100%);
  background-size: 20px 20px;
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 10px;
  font-size: 20px;
  transform: rotate(0deg);
  margin: 20px;
}

.comment_field {
  margin: auto;
  padding: 10px;
  width: 470px;
  background-color: #white;
  border-radius: 10px;
  border: 2px solid #dcdcdc;
}

.comment_box {
  width: 400px;
  position: relative;
  margin: 20px;
  padding: 20px;
  background:#e6f4ff;
  border-radius: 10px;
}

.comment_box:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.comment_user {
  border-radius: 50%;
  width:50px;
  height:50px;
  object-fit: cover;
  margin-left:20px;
}


.detail__imgframe{
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.info_frame {
  position: relative;
  border: none;
  margin: 20px;
}
 
/* アイコン写真 */

.user__imgframe {
  border-radius: 50%;
  margin-bottom: 20px;
  width:100px;
  height:100px;
  object-fit: cover;
}

/* My page */

.user__profile {
  border: solid 4px;
  border-color:white;
  position: absolute;
  border-radius: 50%;
  margin-bottom: 20px;
  width:100px;
  height:100px;
  object-fit: cover;
  top: 35%;
  left: 15%;
  margin-bottom:20px;
}

.user__background {
  position: relative;
  width:80%;
  height:200px;
  object-fit: cover;
}

.mypage_title {
   margin-right:50px;
}

/* 紹介ページ */

.about{
  float:left;
  margin:10px;
}

 .new_post {
  background-image: image-url("new_post.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }
 
.about_like {
  background-image: image-url("like.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }
 
.about_liked_post {
  background-image: image-url("liked_list.jpg");
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  border: solid 3px;
  border-color: #b0e0e6;
 }
 
 /* ご担当者さま宛てメッセージ*/
 
 .message_frame {
  margin: 20px;
  padding: 20px 20px 20px 35px;
  width: 400px; 
  background-color: #fff; 
  border: 1px solid #e6f4ff;
  box-shadow: 2px 2px 2px #ccc;
}